/* Header Styling */
header{
	background-color: rgb(255, 255, 255)
}
		/* Logo styling within header */
.logo{
	height: 50px;
	max-height: 100%;
}
.logo-text{
	font-weight: bold;
	font-size: 1.25rem;
	margin-bottom: -.5rem;
}
.subtitle{
	font-size: .9rem;
}
		/* Nav bar styling */
.navLink{
	background-color: #40798C;
	text-align: center;
	padding: .5rem;
	font-weight: bold;
	font-size: 1.25rem;
	color: rgba(255,255,255,1);
	border-right: 1px solid rgba(255,255,255,1);
}
.navLink:hover{
	color: rgba(255,255,255,1);
	background-color: #1f363d;
}
.navLink:last-child{
	border-right: 0px solid rgba(255,255,255,1);
}
/* Main Body Styling */
		/* Hero */
.hero{
	height: 400px;
	max-height: 60vh;
	background: url("../images/hero.jpg");
	background-size: cover;
	position: relative;
}
.hero .hero-label{
	background: rgba(0,0,0,.5);
	color: rgba(255,255,255, 1);
	font-size: 2rem;
	text-align: center;
	width:100%;
	position: absolute;
	bottom: 0;
}
ul{
	list-style-type: none;
}
.employer-date{
	text-align: right;
}
/* Footer Styling */
footer{
	margin-top: 2rem;
}
footer .grid-x>.small-7 {
	width: 57.33333%;
}
footer .grid-x>.small-5 {
	width: 42.66667%;
}
.copyright{
	padding-left: .5rem;
}
/* Utilities for footer location*/
.off-canvas-wrapper {
    overflow: visible;
}
.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header, footer {
    flex-shrink: 0;
}
main {
    flex: 1 0 auto; 
}
/* Social Media Button Styling */
	.social {
	margin-right: .25rem;
	margin-bottom: 0;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	}

	.social:first-child{
		margin-right: 0;
	}
  
  .social.linkedin {
	background-color: #007bb5;
	color: #fefefe;
  }
  
  .social.linkedin:hover, .social.linkedin:focus {
	background-color: #014869;
	color: #fefefe;
  }
  
  .social.github {
	background-color: #2b2b2b;
	color: #fefefe;
  }
  
  .social.github:hover, .social.github:focus {
	background-color: rgb(0, 0, 0);
	color: #fefefe;
  }
  
  .social > .fa {
	color: #fefefe;
	margin-right: .25rem;
  }